/* Navbar */
.logos i:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
    transform: scale(1.5);
    filter: drop-shadow(0 0 10px white);
}
/* left-side */
.left-side-second-part p:hover{
    filter: drop-shadow(0 0 10px white);
}
.hey i:hover{
    filter: drop-shadow(0 0 10px white);
    transform: scale(1.4);
}
/* middle */
.post button:hover{
    filter: drop-shadow(0 0 10px rgb(54, 114, 163));
    transform: scale(1.1);
}
.john-like-comment button:hover{
    filter: drop-shadow(0 0 10px rgb(54, 114, 163));
    transform: scale(1.1);
}
.jane-like-comment button:hover{
    filter: drop-shadow(0 0 10px rgb(54, 114, 163));
    transform: scale(1.1);
}
.angie-like-comment button:hover{
    filter: drop-shadow(0 0 10px rgb(54, 114, 163));
    transform: scale(1.1);
}
/* right-side */
.friend-request-btns button:nth-child(1):hover{
    filter: drop-shadow(0 0 10px rgb(29, 255, 97));
    transform: scale(1.1);
}
.friend-request-btns button:nth-child(2):hover{
    filter: drop-shadow(0 0 10px rgb(255, 0, 0));
    transform: scale(1.1);
}