.left-side{
    grid-column: 2/3;
    grid-row: 3;
    width: 20vw;
    
}
.left-side i{
    margin-right: 2%;
}
.profile-info{
    border-radius: 10px;
    width: 20vw;
    height: 35vh;
    margin-bottom: 5%;
    background-color: var(--background-color);
    color: var(--font-color);
    box-shadow: var(--shadow);

}
.first-part{
    height:60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: auto; 
}
.profile-info :nth-child(1) img{
    width: 30%;
    border-radius: 50%;
    box-shadow: 0px 0px 40px rgb(6, 128, 165);
}
.second-part{
    height: 13vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 2%;
    overflow: auto;
}
/* second section */
.left-side-second-part{
    border-radius: 10px;
    width: 20vw;
    height: 17vh;
    display: flex;
    flex-direction: column;
justify-content: space-around;
padding-left: 2%;
margin-bottom: 5%;
cursor: pointer;
overflow: auto;
background-color: var(--background-color);
    color: var(--font-color);
    box-shadow: var(--shadow);
}
/* third section */
.interests{
    width: 20vw;
    height: 17vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 4%;
    border-radius: 10px;
    margin-bottom: 5%;
    overflow: auto;
    background-color: var(--background-color);
    color: var(--font-color);
    box-shadow: var(--shadow);
}
.interests-para {
    border: 1px rgb(155, 155, 155) solid;
    width: 30%;
    text-align: center;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(6, 128, 165);
    overflow: auto;
    font-size: 1.1vw;
}
/* fourth section */
.hey{
    border-radius: 10px;
    width: 20vw;
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 4%;
    overflow: auto;
    background-color: var(--background-color);
    color: var(--font-color);
    box-shadow: var(--shadow);
}
.hey i{
    cursor: pointer;
}
.hey div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
