@media only screen and (max-width:600px) {
    .main-container{
        display: grid;
        grid-template-columns:5vw 90vw 5vw  ;
        /* grid-template-rows: 5vh 2vh 90vh 100vh 1fr; */
        grid-template-rows: 5vh 2vh 90vh 120vh 1fr;
        gap: 0;
    }
    
    .home-logo{
        display: none;
    }
    .home-btn-600px{
        display: block;
    }
    .logos{
        width: 60%;
    }
    .profile-logo{
        width: 15%;
    }
    .profile-logo img{
        width: 40px;
        height: 40px;
    }
/* .............. left side ............ */
.left-side {
    grid-column: 2/3;
    grid-row: 3;
    width: 90vw;
    
  }
    .profile-info{
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }
    .left-side-second-part{
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }
    .interests{
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }
    .interests-para{
        width: 40vw;
        font-size: 3vw;
    }
    .hey{
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
        
    }
    /* .................... middle ............... */
    .middle{
        grid-column: 2/3;
        grid-row: 5;
        width: 90vw;
        margin-top: 5%;
    }
    .post{
         width: 90vw;  
         height: 20vh;
         gap: 10px;
    }
    .post button{     
        width: 20vw;
    }
    /* john */
    .john-doe{
        width: 90vw;
        height: 70vh;
    }
    .john-pro > div{
        width: 50%;
        height: 100%;

    }
    .john-pro{
        padding-top: 3%;
    }
    .john-pro div img {
        width: 25%;
    }
    .john-like-comment{
        width: 80%;
    }

    /* jane */
    .jane-doe{
        width: 90vw;
        height: 37vh;
        
    }
    .jane-pro > div{
        width: 50%;
        height: 100%;

    }
    .jane-pro{
        padding-top: 3%;
    }
    .jane-pro div img {
        width: 25%;
    }
    .jane-like-comment{
        width: 80%;

    }
    /* angie */
    .angie-jane{
        width: 90vw;
        height: 70vh;
    }
    .angie-pro > div{
        width: 50%;
        height: 100%;
    }
    .angie-pro{
        padding-top: 3%;
    }
    .angie-pro div img {
        border-radius: 50%;
        width: 25%;
      }
      .angie-imgs img {
          width: 100%;
      }
      .angie-like-comment{
        width: 80%;

      }
     /* ................. right-side .................  */
    .right-side{
        grid-column: 2/3;
        grid-row: 4;
        margin-top: 10%;
    }
    .upcoming{
        width: 70vw;
        height: 45vh;
        margin-right: auto;
        margin-left: auto;
        padding: 5% 5%;
    }
    .friend-request{
        width: 70vw;
        margin-right: auto;
        margin-left: auto;
    }
    .ads,.bugs{
        width: 50vw;
        height: 10vh;
        margin-right: auto;
        margin-left: auto;
    }
}
