.right-side{
    grid-column: 4/5;
    grid-row: 3;
}
.upcoming{
    display: flex;
    flex-direction: column;
    padding: 1%;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 37vh;
    border-radius: 10px;
    gap: 0.5vh;
    overflow: auto;
    margin-bottom: 5%;
    background-color: var(--background-color);
    color: var(--font-color);
    box-shadow: var(--shadow);
}
.upcoming img{
    width: 80%;
    border-radius: 10px;
}
.upcoming button{
    padding: 2%;
    width: 80%;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(6, 128, 165);
    background-color: var(--background-color);
    color: var(--font-color);
}
/* Friend-request */
.friend-request{
    display: flex;
    flex-direction: column;
    padding: 3%;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
    height: 35vh;
    border-radius: 10px;
    gap: 0.5vh;
    overflow: auto;
    margin-bottom: 5%;
    background-color: var(--background-color);
    color: var(--font-color);
    box-shadow: var(--shadow);

}
.friend-request img{
    width: 30%;
}
.friend-request-btns{
    display: flex;
    justify-content: space-around;
    width: 80%;
}
.friend-request-btns button{
    padding: 2%;
    width: 47%;
    color: var(--font-color);
    cursor: pointer;
    border-radius: 10px;
}
.friend-request-btns button:nth-child(1){
    background-color: green;
}
.friend-request-btns button:nth-child(2){
    background-color: red;
}
/* ADS */
.ads{
    width: 20vw;
    height: 20vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    overflow: auto;
    font-weight: bold;
    margin-bottom: 5%;
    background-color: var(--background-color);
    color: var(--font-color);
    box-shadow: var(--shadow);
}
/* bugs */
.bugs{
    width: 20vw;
    height: 20vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    overflow: auto;
    background-color: var(--background-color);
    color: var(--font-color);
    box-shadow: var(--shadow);
}
